/.fabric
/.mixin.out
/command_history.txt
/config/sodium-fingerprint.json
/crash-reports
/data
/datapacks
/downloads
/logs
/options.txt
/realms_persistence.json
/resourcepacks
/saves
/screenshots
/usercache.json
emi.json
servers.dat
servers.dat_old
usernamecache.json